
$blue:    #0c61bb ;
$indigo:  #810cbb ;
$purple:  #510cbb ;
$pink:    #bb0cac ;
$red:     #bb0c0c ;
$orange:  #bb660c ;
$yellow:  #bb8e0c ;
$green:   #0cbb2b ;
$teal:    #20c997 ;
$cyan:    #0ca2bb ;

$enable-caret:              true ;
$enable-rounded:            true ;
$enable-shadows:            false ;
$enable-gradients:          true ;
$enable-transitions:        true ;
$enable-hover-media-query:  false ; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true ;
$enable-print-styles:       true ;

$grid-columns:                12 ;
$grid-gutter-width:           30px ;

$font-family-sans-serif:      'Muli', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:            $font-family-sans-serif ;