$white:    #fff;
$black:    #222222;

$blue:    #4079b5 ;
$indigo:  #810cbb ;
$purple:  #510cbb ;
$pink:    #bb0cac ;
$red:     #bb0c0c ;
$orange:  #bb660c ;
$yellow:  #bb8e0c ;
$green:   #0cbb2b ;
$teal:    #20c997 ;
$cyan:    #0ca2bb ;
$colors: ();

$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
  ),
  $colors
);

$primary:       $blue ;
$success:       $green ;
$info:          $cyan ;
$warning:       $yellow ;
$danger:        $red ;

$theme-colors: () ;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
  ),
  $theme-colors
);

$enable-caret:              true ;
$enable-rounded:            true ;
$enable-shadows:            false ;
$enable-gradients:          false ;
$enable-transitions:        true ;
$enable-hover-media-query:  false ; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true ;
$enable-print-styles:       true ;

$grid-columns:                12 ;
$grid-gutter-width:           30px ;

$box-shadow-ct:                  0 0 1rem rgba($black, .15);

$font-family-sans-serif:      'Muli', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-family-base:            $font-family-sans-serif ;